{
  "name": "@pkl-community/${node_pkg}",
  "version": "${node_version}",
  "repository": {
    "type": "git",
    "url": "git+https://github.com/pkl-community/node-packages.git"
  },
  "publishConfig": {
    "@pkl-community:registry": "https://registry.npmjs.org"
  },
  "author": "Pkl community developers",
  "license": "Apache-2.0",
  "homepage": "https://github.com/pkl-community/node-packages#readme",
  "os": [
    "${node_os}"
  ],
  "cpu": [
    "${node_arch}"
  ]
}
